.wrapper {
   min-height: 100%;
}

.page {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   overflow: hidden;
}

.page {
}
.page__wrapper {
}
.page__screen {
}
.screen {
}
.screen__content {
}
.screen__title {
}
.screen__title_bg {
}
.screen__body {
}
.screen__image {
}
.sreen__text {
}